.deputies-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  padding: 2vh 0;
  background-color: rgba(250,250,250,0.9);
  border: 3px solid rgba(250,250,250,0.7);
  box-shadow: 0.5px 0.5px 3px 0px $brand-gray;
  &-result {
    color: white;
    margin: 0;
    padding: 10px;
    top: -25px;
    left: -25px;
    position: absolute;
    border-radius: 3px;
  }
}

// USED IN: views/deputies/index.html.erb
