.search-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  margin: 40px;
  padding: 40px;
  max-width: 695px;
  border-radius: 3px;
  background-color: rgba(166,166,166,0.5);
  &-item {
    flex: 0 0 40px;
    margin: 2px;
    line-height: 28px;
  }
  &-group { margin: 2px }
  &-scrollable {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .search-links {
    margin: 20px 40px;
    padding: 40px 60px;
    .btn-group { display: block }
    .btn-group, .btn { width: 100% }
  }
}

// USED IN: views/shared/deputies_list_nav.html.erb (=> deputies:index & pages:home)
