<div class="profile-element">
  <div class="profile-card cover-position profile-card-column-direction">

    <!-- square top left -->
    <%= link_to @deputy.mandates.last.hatvp_page, class: 'profile-card-element bg-red', target: '_blank' do %>
      <h3>
        <i class="fa fa-file-text-o"></i>
      </h3>
    <% end %>
    <!-- square top left -->

    <!-- square bottom left -->
    <% if @deputy.screen_name.length == 0 %>
      <div class="profile-card-element" id='no-twitter-account'>
        <h3>
          <i class="fa fa-twitter"></i>
        </h3>
      </div>
    <% else %>
      <%= link_to "https://twitter.com/#{@deputy.screen_name}", target: '_blank', class: 'profile-card-element bg-light-blue' do %>
        <h3>
          <i class="fa fa-twitter"></i>
        </h3>
      <% end %>
    <% end %>
    <!-- square bottom left -->

    <!-- rectangle left (hdouble) -->
    <%= link_to "http://www2.assemblee-nationale.fr/deputes/fiche/OMC_#{@deputy.original_tag}", target: '_blank', class: "profile-card-element profile-card-element-hdouble bg-dark-blue" do %>
      <h3>
        <i class="fa fa-university"></i>
      </h3>
    <% end %>
    <!-- rectangle left (hdouble) -->

  </div>
</div>
