<div class="profile-element">
  <div class="profile-card cover-position">

    <!-- square top left -->
    <%= link_to ###, class: 'profile-card-element bg-dark-blue' do %>
      <h3>
        ###
      </h3>
    <% end %>
    <!-- square top left -->

    <!-- square top right -->
    <%= link_to ###, class: 'profile-card-element bg-dark-blue' do %>
      <h3>
        ###
      </h3>
    <% end %>
    <!-- square top right -->

    <!-- square bottom left -->
    <%= link_to ###, class: 'profile-card-element bg-dark-blue' do %>
      <h3>
        ###
      </h3>
    <% end %>
    <!-- square bottom left -->

    <!-- square bottom right -->
    <%= link_to ###, class: 'profile-card-element bg-dark-blue' do %>
      <h3>
        ###
      </h3>
    <% end %>
    <!-- square bottom right -->

  </div>
</div>
