<!-- id -->
<div class="col-xs-12 col-sm-4 my-col">

  <%= render 'shared/deputy_modal/deputy_id' %>

</div>
<!-- id -->

<!-- nav -->
<div class="col-xs-12 col-sm-4 my-col">

  <%= render 'shared/deputy_modal/deputy_nav' %>

</div>
<!-- nav -->

<!-- external info -->
<div class="col-xs-12 col-sm-4 my-col">

  <%= render 'shared/deputy_modal/deputy_ext_info' %>

</div>
<!-- external info -->
