<div class="banner">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>AN Project</h1>
    <div class="banner-menu">
      <%= link_to t('.browse', default: 'Browse'), deputy_path(@deputy), class: "btn btn-primary btn-lg" %>
      <%= link_to t('.login', default: 'Login'), new_user_session_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
</div>
