/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
}

.margin-top {
  margin-top: 3em;
}

// Backgrounds
.bg-black {
  background: rgb(40,40,40);
}
.bg-grey {
  background: rgb(100,100,100);
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Absolute positions
.cover-position {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

body {
  // background: linear-gradient(25deg, rgb(200,200,200) 30%, rgb(240,240,240) 70%);
  // min-height: 100vh;
}
