/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
}

.margin-top {
  margin-top: 3em;
}

// Backgrounds
.bg-black {
  background: rgb(40,40,40);
}
.bg-gray {
  background: $brand-gray;
}
.bg-blue {
  background: $blue;
}
.bg-light-blue {
  background: $light-blue;
}
.bg-dark-blue {
  background: $brand-color;
}
.bg-red {
  background: $red;
}

// Absolute positions
.cover-position {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
