$base-margin: 2%;
$base-size: 50% - $base-margin * 2;
$double-size: 100% - $base-margin * 2;

#nav {
  flex-direction: column;
}

#no-twitter-account {
  background-color: rgb(150,150,150);
  color: rgb(80,80,80);
}

.my-col {
  padding-left: 0px;
  padding-right: 0px;
}

.profile {
  &-element {
    position: relative;
    height: 0;
    padding-top: 100%;
  }
  &-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    &-element {
      width: $base-size;
      margin: $base-margin;
      height: $base-size;
      width: $base-size;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      h3 {
        font-size: 40px;
        margin: 0px;
      }
      p {
        font-size: 22px;
      }
      &-wdouble {
        width: $double-size;
      }
      &-hdouble {
        height: $double-size;
      }
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
        background-color: rgb(150,150,150);
        color: rgb(80,80,80);
      }
    }
  }
  &-picture {
    background-repeat: no-repeat;
    background-position: center;
    &-filling-bg {
      width: $base-size;
      height: $base-size;
      margin: $base-margin;
      border-radius: 3px;
      position: relative;
      background: linear-gradient(0deg, rgb(254,254,255) 10%, #9DB8D3 80%);
    }
  }
  &-page {
    background-color: white;
    padding: 2em;
    box-shadow: 1px 1px 1px rgb(230,230,230);
  }
}
