.deputy-modal-row {
  padding: 0 13px;
}

.modal-content {
  width: 75%;
  max-width: 1000px;
  margin: 10vh auto;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 60%;
    margin: 1% auto;
    height: 98%;
  }
}
