$base-size: 100px;
$base-margin: 5px;

.profile {
  background-color: white;
  padding: 2em;
  box-shadow: 1px 1px 1px rgb(230,230,230);
  &-picture {
    background-size: cover;
    baclground-position: center;
    width: $base-size;
    height: $base-size;
    margin: $base-margin;
  }
  &-card {
    margin: 100px 0px;
    width: 520px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: $base-size * 2 + $base-margin * 4;
    &-initial {
      width: $base-size;
      color: white;
      text-align: center;
      margin: $base-margin;
      height: $base-size;
      line-height: $base-size;
      h3 {
        font-size: 40px;
        margin: 0px;
        line-height: inherit;
      }
      &-wdouble {
        width: ($base-size + $base-margin) * 2;
        font-size: 16px;
        &-container {
          width: $base-size * 2 + $base-margin * 4;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 0px;
        }
      }
      &-hdouble {
        height: ($base-size + $base-margin) * 2;
        line-height: ($base-size + $base-margin) * 2;
      }
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
        background-color: rgb(150,150,150);
        color: rgb(80,80,80);
      }
    }
  }
}
