$square-margin: 2%;
$square-size: 50% - $square-margin * 2;
$double-size: 100% - $square-margin * 2;

.no-twitter-account {
  background-color: rgb(150,150,150);
  color: rgb(80,80,80);
}

.my-col {
  padding-left: 0px;
  padding-right: 0px;
}

.profile {
  &-element {
    position: relative;
    height: 0;
    padding-top: 100%;
  }
  &-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    &-element {
      width: $square-size;
      margin: $square-margin;
      height: $square-size;
      width: $square-size;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      h3 {
        font-size: 3vw;
        margin: 0;
      }
      p {
        font-size: 1.5vw;
        margin: 0;
      }
      &-wdouble {
        width: $double-size;
      }
      &-hdouble {
        height: $double-size;
      }
      &-nav {
        cursor: pointer;
        &:hover {
          background-color: rgb(150,150,150);
          color: rgb(80,80,80);
        }
      }
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
        background-color: rgb(150,150,150);
        color: rgb(80,80,80);
      }
    }
    &-column-direction {
      flex-direction: column;
    }
  }
  &-picture {
    background-repeat: no-repeat;
    background-position: center;
    &-filling-bg {
      width: $square-size;
      height: $square-size;
      margin: $square-margin;
      border-radius: 3px;
      position: relative;
      background-size: cover;
      background-position: center;
      &-shadow {
        background-color: rgba(200,200,200,0.7);
      }
    }
  }
  &-page {
    background-color: white;
    padding: 2em;
    box-shadow: 1px 1px 1px rgb(230,230,230);
  }
}

#picture-linking {
  z-index: 5;
  &:hover {
    background-color: rgba(80,80,80,0.4);
  }
}

@media screen and (max-width: 768px) {
  .profile-card-element {
    p {
      font-size: 18px;
    }
    h3 {
      font-size: 35px;
    }
  }
}
