.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

// USED IN: views/deputies/index.html.erb
//          views/pages/home.html.erb
