.fixed-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

// USED IN: views/deputies/index.html.erb
//          views/pages/home.html.erb
