.home-list {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  flex-wrap: wrap;
  max-width: 600px;
  z-index: 2;
  &-item {
    flex: 0 0 40px;
    margin: 2px;
    line-height: 28px;
  }
  &-group {
    margin: 2px;
  }
  &-scrollable {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .home-list {
    width: 90%;
  }
}

.navigation-menu {
  position: fixed;
  z-index: 1;
  background-image: url('AN_empty2');
  background-size: cover;
  background-position: center center;
  width: 100vw;
}
