.banner {
  min-height: 100vh;
  color: white;
  background: -webkit-linear-gradient(345deg, rgba(46,86,134,0.4) 30%, rgba(50,90,140,0.3) 70%);
  background: -o-linear-gradient(345deg, rgba(46,86,134,0.4) 30%, rgba(50,90,140,0.3) 70%);
  background: linear-gradient(75deg, rgba(46,86,134,0.4) 30%, rgba(50,90,140,0.3) 70%);
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  &-menu {
    display: flex;
    justify-content: space-between;
    &-item {
      margin-top: 1px;
      min-width: 110px;
    }
  }
  h1 {
    position: relative;
    font-size: 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .banner-menu {
    flex-direction: column;
  }
}
