.deputies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  padding: 2vh 0;
  background-color: rgba(250,250,250,0.9);
  border: 3px solid rgba(250,250,250,0.7);
  box-shadow: 0.5px 0.5px 3px 0px $brand-gray;
  &::after {
    content: '';

  }
}

$card-margin: 10px;
$hover-after-position: -$card-margin*2;

.list-card {
  flex: 0 0 150px;
  margin: $card-margin;
  padding-bottom: $card-margin;
  position: relative;
  color: rgb(80,80,80);
  filter: grayscale(90%);
  &-text {
    height: 53px;
  }
  &-name {
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    margin: 0px;
  }
  &-sigle {
    font-size: 12px;
  }
  &-picture {
    border-radius: 1.5px;
  }
  &:hover {
    height: 246px - $card-margin;
    text-decoration: none;
    filter: grayscale(10%);
    background-color: rgb(255,255,255);
    box-shadow: 0 0 0px $card-margin*2 rgb(255,255,255);
    color: rgb(80,80,80);
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: $hover-after-position;
      right: $hover-after-position;
      bottom: $hover-after-position;
      left: $hover-after-position;
      z-index: 5;
      box-shadow: 0 0 $card-margin*2 0 rgba(0,0,0,0.2);
    }
  }
}
