.modal {
  &-row { padding: 0 13px }
  &-content {
    width: 75%;
    max-width: 1000px;
    margin: 12vh auto;
  }
  &-close-button {
    position: absolute;
    top: 5px;
    right: -40px;
    color: $brand-gray;
    font-size: 24px;
    cursor: pointer;
    &:hover { color: white }
  }
}

@media screen and (max-width: 767px) {
  .modal {
    &-content {
      width: 65%;
      margin: 5% auto;
    }
    &-close-button {
      position: fixed;
      top: 3%;
      right: 6%;
    }
  }
}
