.modal{
  &-row { padding: 0 13px }
  &-content {
    width: 75%;
    max-width: 1000px;
    margin: 10vh auto;
    .fa-times-circle {
      color: $brand-gray;
      font-size: 24px;
      &:hover { color: white }
    }
    .close-button {
      background: none;
      border: none;
    }
  }
  &-header {
    background-image: url('paint_flag');
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 60%;
    margin: 1% auto 0 auto;
  }
}
