.navigation-list {
  display: flex;
  justify-content: center;
  margin: 3vw 2vw;
  padding: 2vw;
  flex-wrap: wrap;
  max-width: 600px;
  z-index: 2;
  background-color: rgba(166,166,166,0.5);
  border-radius: 3px;
  &-item {
    flex: 0 0 40px;
    margin: 2px;
    line-height: 28px;
  }
  &-group {
    margin: 2px;
  }
  &-scrollable {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .navigation-list {
    width: 90%;
  }
}

.content-zone {
  position: absolute;
  left: 19vw;
}

.navigation-menu {
  position: fixed;
  z-index: 1;
  background-image: url('AN_empty2');
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20vw;
}
