.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60,60,60);
  box-shadow: 1px 1px 1px rgb(230,230,230);
  border-radius: 4px 4px 0px 0px;
  &-btn {
    padding: 0px 6px 0px 6px;
    margin: 12px;
    &-lg {
      font-size: 18px;
      font-weight: bold;
    }
  }
  a {
    color: white;
    &:hover {
      color: white;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
  }
}
